# NodeJS
frontend/node_modules

# Configuration (except specific files we need)
*.ini
!alembic.ini
*.toml
!pyproject.toml
*.yml

# Documentation (except README.md)
*.md
!README.md

# Hidden files and directories
.*
!entrypoint.sh
__pycache__

# Unneded files and directories
/dev_config/
/docs/
/evaluation/
/tests/
CITATION.cff
